.about {
  &__title {
    font-size: $font-s2;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  &__article {
    font-weight: 300;
  }

  &__paragraph {
    text-align: justify;
    word-spacing: 0rem;
    font-size: $font-xs;
    line-height: 2rem;
    a {
      color: $neonGreen;
      text-decoration: underline;
      font-weight: 600;
    }

    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  &__profile-svg {
    svg {
      display: none;
    }
  }

  @include media-breakpoint-up(sm) {
    &__paragraph {
      text-align: left;
      word-spacing: 0.5rem;
      font-size: $font-xs + 0.125rem;
    }
  }

  @include media-breakpoint-up(md) {
    &__title {
      font-size: $font-s2;
    }

    &__paragraph {
      font-size: $font-s1;
    }

    &__profile-svg {
      margin-top: 4rem;
      width: 100%;
      height: 100%;

      svg {
        width: 232px * 1.5;
        height: 136px * 1.5;
        display: block;
        margin: auto;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &__paragraph {
      line-height: 2.5rem;
    }

    &__profile-svg {
      margin-top: 5rem;
      svg {
        width: 232px * 1.75;
        height: 136px * 1.75;
      }
    }
  }

  @include media-breakpoint-up(xl) {
    display: flex;
    gap: 5rem;

    &__article {
      font-weight: 300;
      flex: 1;
    }

    &__paragraph {
      text-align: left;
      line-height: 2rem;
    }

    &__profile-svg {
      flex: 0;
      margin-top: 2rem;
    }
  }

  @include media-breakpoint-up(fullHD) {
    &__paragraph {
      line-height: 2.25rem;
    }
  }

  @include media-breakpoint-up(macPro13) {
    gap: 7rem;

    &__title {
      font-size: $font-lg;
    }

    &__paragraph {
      text-align: left;
      font-size: $font-md;
      line-height: 3.5rem;
    }

    &__profile-svg {
      svg {
        width: 232px * 2.25;
        height: 136px * 2.25;
      }
    }
  }

  @include media-breakpoint-up(macPro16) {
    gap: 12rem;
    &__title {
      font-size: $font-xl - 0.5rem;
    }

    &__paragraph {
      font-size: $font-lg;
      line-height: 5rem;
    }

    &__profile-svg {
      svg {
        width: 232px * 3.5;
        height: 136px * 3.5;
      }
    }
  }
}
