.error {
  &__heading {
    color: hsl(0, 100%, 50%);
  }

  &__text {
    margin-top: 2rem;
    color: hsl(0, 100%, 50%);
    line-height: 1.5rem;
    text-transform: uppercase;
  }

  @include media-breakpoint-up(fullHD) {
    &__heading {
      font-size: $font-lg;
    }

    &__text {
      font-size: $font-s2;
    }
  }

  @include media-breakpoint-up(macPro16) {
    &__heading {
      font-size: $font-xl;
    }

    &__text {
      font-size: $font-md;
    }
  }
}
