.hero {
  width: 100%;

  &__coding-svg {
    width: 100%;
    height: 100%;

    svg {
      width: 232px;
      height: 136px;
      display: block;
      margin: auto;
    }
  }

  &__text-wrapper,
  &__coding-svg,
  &__call-to-action {
    margin-top: 2.5rem;
  }

  &__text {
    color: $white;
    line-height: 1.8;
  }

  &__my-name {
    color: $neonGreen;
  }

  &__call-to-action {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
  }

  &__link {
    padding: 0.125em 1em;
    background-color: transparent;
    color: $neonGreen;
    font-size: $font-s1;
    letter-spacing: 3px;
    font-weight: 600;
    border: 2px solid $neonGreen;
    transition: all 400ms ease;
    cursor: pointer;

    &:hover {
      background-color: $neonGreen;
      border: transparent;
      color: $moonLight;
    }

    &:first-child {
      margin-left: 0;
    }
  }

  @include media-breakpoint-up(xs) {
    &__text-wrapper,
    &__coding-svg,
    &__call-to-action {
      margin-top: 3rem;
    }

    &__text {
      font-size: $font-s2;
    }

    &__link {
      font-size: $font-s2;
    }
  }

  @include media-breakpoint-up(sm) {
    &__coding-svg {
      svg {
        width: 232px * 1.5;
        height: 136px * 1.5;
      }
    }

    &__text-wrapper,
    &__coding-svg,
    &__call-to-action {
      margin-top: 3rem;
    }

    &__text {
      font-size: $font-md;
    }
  }

  @include media-breakpoint-up(md) {
    &__coding-svg {
      svg {
        width: 232px * 2;
        height: 136px * 2;
      }
    }

    &__text {
      font-size: 2.75rem;
      line-height: 2;
    }

    &__call-to-action {
      width: 100%;
      height: 100%;
    }

    &__link {
      margin: auto;
      font-weight: 600;

      &:first-child {
        margin-right: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 0 3rem;

    &__coding-svg {
      svg {
        width: 232px * 2.25;
        height: 136px * 2.25;
      }
    }

    &__text {
      font-size: $font-lg;
    }

    &__call-to-action {
      margin-top: 4rem;
    }

    &__link {
      font-size: $font-md;
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 0 6rem;
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;

    &__text-wrapper,
    &__coding-svg,
    &__call-to-action {
      margin-top: 0;
    }

    &__coding-svg {
      order: 1;
      flex: 0;

      svg {
        width: 232px * 1.5;
        height: 136px * 1.5;
      }
    }

    &__text-wrapper {
      order: 0;
      flex: 1;
    }

    &__text {
      font-size: $font-md;
    }

    &__call-to-action {
      display: flex;
      justify-content: flex-start;
    }

    &__link {
      margin-top: 4rem;
      margin-left: 0;
    }
  }

  @include media-breakpoint-up(xxl) {
    padding: 0;
    width: 75%;
    margin: 6rem auto;

    &__coding-svg {
      svg {
        width: 232px * 1.675;
        height: 136px * 1.675;
      }
    }

    &__text {
      font-size: 2.5rem;
    }
  }

  @include media-breakpoint-up(fullHD) {
    padding: 0;
    width: 70%;
    margin: 9rem auto;

    &__coding-svg {
      svg {
        width: 232px * 2;
        height: 136px * 2;
      }
    }

    &__text {
      font-size: $font-lg;
    }

    &__link {
      font-size: $font-md + 0.5rem;
    }
  }

  @include media-breakpoint-up(macPro13) {
    margin: 15rem auto;

    &__coding-svg {
      svg {
        width: 232px * 2.75;
        height: 136px * 2.75;
      }
    }

    &__text {
      font-size: $font-xl;
    }

    &__call-to-action {
      margin-top: 6rem;
    }

    &__link {
      font-size: $font-xl - 0.6rem;
    }
  }

  @include media-breakpoint-up(macPro16) {
    &__coding-svg {
      svg {
        width: 232px * 3;
        height: 136px * 3;
      }
    }

    &__text {
      font-size: $font-xl + 0.5rem;
    }

    &__link {
      padding: 0.375em 4em;
      font-size: $font-xl;
    }
  }
}
