.skills {
  &__heading {
    text-transform: uppercase;
  }

  &__flex-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
  }

  &__cat {
    margin-top: 1.5rem;
    flex: 1 0 9.5rem;

    &:first-child {
      flex-grow: 0;
    }
  }

  &__cat-heading {
    font-size: $font-s1;
    color: $neonGreen;
  }

  &__tools {
    padding: 0.5rem 0.375rem;
    list-style: none;
  }

  &__tool-item {
    color: $cyan;
    font-weight: 300;
    line-height: 1.375rem;

    &:not(:first-child) {
      margin-top: 0.225rem;
    }
  }

  @include media-breakpoint-up(sm) {
    &__flex-container {
      column-gap: 2.25rem;
    }
  }

  @include media-breakpoint-up(md) {
    &__flex-container {
      column-gap: 1rem;
    }

    &__cat {
      margin-top: 1.5rem;
      flex: 1 0 12rem;

      &:first-child {
        flex-grow: 1;
      }
    }

    &__cat-heading {
      font-size: $font-s1 + 0.125rem;
    }

    &__tool-item {
      font-size: $font-s1 - 0.125rem;
      line-height: 1.5rem;
    }
  }

  @include media-breakpoint-up(lg) {
    &__tool-item {
      line-height: 1.75rem;
    }
  }

  @include media-breakpoint-up(xl) {
    &__cat {
      margin-top: 1.5rem;
      flex: 0 1 20%;

      &:first-child {
        flex-grow: 0;
      }
    }

    &__tool-item {
      line-height: 1.5rem;

      &:not(:first-child) {
        margin-top: 0.375rem;
      }
    }
  }

  @include media-breakpoint-up(macPro13) {
    &__heading {
      font-size: $font-lg;
    }

    &__cat {
      margin-top: 1.5rem;
    }

    &__cat-heading {
      font-size: $font-md + 0.125rem;
    }

    &__tool-item {
      font-size: $font-s2 + 0.125rem;
      line-height: 2.5rem;

      &:not(:first-child) {
        margin-top: 0.5rem;
      }
    }
  }

  @include media-breakpoint-up(macPro16) {
    &__heading {
      font-size: $font-xl - 0.5rem;
    }

    &__cat {
      margin-top: 2.5rem;
    }

    &__cat-heading {
      font-size: $font-lg - 0.125rem;
    }

    &__tool-item {
      font-size: $font-md + 0.25rem;
      line-height: 3.5rem;

      &:not(:first-child) {
        margin-top: 0.875rem;
      }
    }
  }
}
